.entrust_container{
    text-align: center;
    display: table;
}

/*            130w照片*/
.entrust_container .entrust_outside .border_box .product_container_3{
    position: relative;
    float: left;
    width: 130px;
    height: 280px;
    border: 5px solid #ccc;
    border-radius: 20px;
    margin: 5px;
}
.entrust_container .entrust_outside .border_box .product_container_3 .product_3{
    position: absolute;
    width: inherit;
    height: inherit;
    transform: rotateY(0deg);
}
.entrust_container .entrust_outside .border_box .product_container_3 .product_3 img{
    width: inherit;
    height: inherit;
    border-radius: 15px;
    backface-visibility: hidden;
}
.entrust_container .entrust_outside .border_box .product_container_3:hover .product_3 img{
    transform: rotateY(180deg);
}
.entrust_container .entrust_outside .border_box .product_container_3 .product_3_back{
    position: absolute;
    width: inherit;
    height: inherit;
    line-height: 280px;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
}
.entrust_container .entrust_outside .border_box .product_container_3 .product_3_back p{
    margin: 0;
    text-align: center;
}
.entrust_container .entrust_outside .border_box .product_container_3:hover .product_3_back{
    transform: rotateY(0deg);
}

/*            183w照片*/
.entrust_container .entrust_outside .border_box .product_container_4{
    position: relative;
    float: left;
    width: 183px;
    height: 240px;
    border: 5px solid #ccc;
    border-radius: 20px;
    margin: 5px;
}
.entrust_container .entrust_outside .border_box .product_container_4 .product_4{
    position: absolute;
    width: inherit;
    height: inherit;
    transform: rotateY(0deg);
}
.entrust_container .entrust_outside .border_box .product_container_4 .product_4 img{
    width: inherit;
    height: inherit;
    border-radius: 15px;
    backface-visibility: hidden;
}
.entrust_container .entrust_outside .border_box .product_container_4:hover .product_4 img{
    transform: rotateY(180deg);
}
.entrust_container .entrust_outside .border_box .product_container_4 .product_4_back{
    position: absolute;
    width: inherit;
    height: inherit;
    line-height: 240px;
    overflow: hidden;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
}
.entrust_container .entrust_outside .border_box .product_container_4 .product_4_back p{
    margin: 0;
    text-align: center;
}
.entrust_container .entrust_outside .border_box .product_container_4:hover .product_4_back{
    transform: rotateY(0deg);
}
@media screen and (max-width:990px){
    .entrust_container .entrust_outside .border_box .product_container_4{
        width: 140px;
        height: 183.6px;
    }
    .entrust_container .entrust_outside .border_box .product_container_4 .product_4_back{
        line-height: 183.6px;
    }
}

/*            183w縮高度1照片*/
.entrust_container .entrust_outside .border_box .product_container_4_1{
    position: relative;
    float: left;
    width: 183px;
    height: 210px;
    border: 5px solid #ccc;
    border-radius: 20px;
    margin: 5px;
}
.entrust_container .entrust_outside .border_box .product_container_4_1 .product_4_1{
    position: absolute;
    width: inherit;
    height: inherit;
    transform: rotateY(0deg);
}
.entrust_container .entrust_outside .border_box .product_container_4_1 .product_4_1 img{
    width: inherit;
    height: inherit;
    border-radius: 15px;
    backface-visibility: hidden;
}
.entrust_container .entrust_outside .border_box .product_container_4_1:hover .product_4_1 img{
    transform: rotateY(180deg);
}
.entrust_container .entrust_outside .border_box .product_container_4_1 .product_4_1_back{
    position: absolute;
    width: inherit;
    height: inherit;
    line-height: 180px;
    overflow: hidden;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
}
.entrust_container .entrust_outside .border_box .product_container_4_1 .product_4_1_back p{
    margin: 0;
    text-align: center;
}
.entrust_container .entrust_outside .border_box .product_container_4_1:hover .product_4_1_back{
    transform: rotateY(0deg);
}
@media screen and (max-width:990px){
    .entrust_container .entrust_outside .border_box .product_container_4_1{
        width: 140px;
        height: 160.6px;
    }
    .entrust_container .entrust_outside .border_box .product_container_4_1 .product_4_1_back{
        line-height: 160.6px;
    }
}

/*            183w縮高度2照片*/
.entrust_container .entrust_outside .border_box .product_container_4_2{
    position: relative;
    float: left;
    width: 183px;
    height: 150px;
    border: 5px solid #ccc;
    border-radius: 20px;
    margin: 5px;
}
.entrust_container .entrust_outside .border_box .product_container_4_2 .product_4_2{
    position: absolute;
    width: inherit;
    height: inherit;
    transform: rotateY(0deg);
}
.entrust_container .entrust_outside .border_box .product_container_4_2 .product_4_2 img{
    width: inherit;
    height: inherit;
    border-radius: 15px;
    backface-visibility: hidden;
}
.entrust_container .entrust_outside .border_box .product_container_4_2:hover .product_4_2 img{
    transform: rotateY(180deg);
}
.entrust_container .entrust_outside .border_box .product_container_4_2 .product_4_2_back{
    position: absolute;
    width: inherit;
    height: inherit;
    line-height: 150px;
    overflow: hidden;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
}
.entrust_container .entrust_outside .border_box .product_container_4_2 .product_4_2_back p{
    margin: 0;
    text-align: center;
}
.entrust_container .entrust_outside .border_box .product_container_4_2:hover .product_4_2_back{
    transform: rotateY(0deg);
}
@media screen and (max-width:990px){
    .entrust_container .entrust_outside .border_box .product_container_4_2{
        width: 140px;
        height: 114.7px;
    }
    .entrust_container .entrust_outside .border_box .product_container_4_2 .product_4_2_back{
        line-height: 114.7px;
    }
}

/*            183w縮高度3照片*/
.entrust_container .entrust_outside .border_box .product_container_4_3{
    position: relative;
    float: left;
    width: 183px;
    height: 140px;
    border: 5px solid #ccc;
    border-radius: 20px;
    margin: 5px;
}
.entrust_container .entrust_outside .border_box .product_container_4_3 .product_4_3{
    position: absolute;
    width: inherit;
    height: inherit;
    transform: rotateY(0deg);
}
.entrust_container .entrust_outside .border_box .product_container_4_3 .product_4_3 img{
    width: inherit;
    height: inherit;
    border-radius: 15px;
    backface-visibility: hidden;
}
.entrust_container .entrust_outside .border_box .product_container_4_3:hover .product_4_3 img{
    transform: rotateY(180deg);
}
.entrust_container .entrust_outside .border_box .product_container_4_3 .product_4_3_back{
    position: absolute;
    width: inherit;
    height: inherit;
    line-height: 140px;
    overflow: hidden;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
}
.entrust_container .entrust_outside .border_box .product_container_4_3 .product_4_3_back p{
    margin: 0;
    text-align: center;
}
.entrust_container .entrust_outside .border_box .product_container_4_3:hover .product_4_3_back{
    transform: rotateY(0deg);
}
@media screen and (max-width:990px){
    .entrust_container .entrust_outside .border_box .product_container_4_3{
        width: 140px;
        height: 107.1px;
    }
    .entrust_container .entrust_outside .border_box .product_container_4_3 .product_4_3_back{
        line-height: 107.1px;
    }
}

/*首頁分類圖框*/

.entrust_outside{
    height: 394px;
    border-top: none;
    border-left: none;
    margin: 5px 0 0 0;
    display: table;
}
.entrust_outside .border_box{
    border: 2px double #000;
    height: inherit;
    border-top: none;
    border-bottom: none;
    border-radius: 10%;
    margin: 0 5px 10px 0;
    overflow: hidden;
    transition: height .8s ease-in-out;
}

.entrust_outside .top_p_1{
    margin-bottom: 0;
    letter-spacing: 4px;
    color: lightgray;
}
.entrust_outside .border_box h1:hover{
    cursor: pointer;
}
.entrust_outside .bottom_p_1{
    margin-top: -8px;
    letter-spacing: 4px;
    color: lightgray;
}
#top_1_checked{
    display: none;
}
#top_1_checked:checked ~ .border_box{
    height: 993px;
    overflow: scroll;
}
.entrust_outside .top_p_1, .bottom_p_1:hover{
    cursor: pointer;
}

.entrust_outside .top_p_2{
    margin-bottom: 0;
    letter-spacing: 4px;
    color: lightgray;
}
.entrust_outside .bottom_p_2{
    margin-top: -8px;
    letter-spacing: 4px;
    color: lightgray;
}
#top_2_checked{
    display: none;
}
#top_2_checked:checked ~ .border_box{
    height: 993px;
    overflow: scroll;
}
.entrust_outside .top_p_2, .bottom_p_2:hover{
    cursor: pointer;
}

.entrust_outside .top_p_3{
    margin-bottom: 0;
    letter-spacing: 4px;
    color: lightgray;
}
.entrust_outside .bottom_p_3{
    margin-top: -8px;
    letter-spacing: 4px;
    color: lightgray;
}
#top_3_checked{
    display: none;
}
#top_3_checked:checked ~ .border_box{
    height: 993px;
    overflow: scroll;
}
.entrust_outside .top_p_3, .bottom_p_3:hover{
    cursor: pointer;
}

.entrust_outside .top_p_4{
    margin-bottom: 0;
    letter-spacing: 4px;
    color: lightgray;
}
.entrust_outside .bottom_p_4{
    margin-top: -8px;
    letter-spacing: 4px;
    color: lightgray;
}
#top_4_checked{
    display: none;
}
#top_4_checked:checked ~ .border_box{
    height: 993px;
    overflow: scroll;
}
.entrust_outside .top_p_4, .bottom_p_4:hover{
    cursor: pointer;
}

.entrust_outside .top_p_5{
    margin-bottom: 0;
    letter-spacing: 4px;
    color: lightgray;
}
.entrust_outside .bottom_p_5{
    margin-top: -8px;
    letter-spacing: 4px;
    color: lightgray;
}
#top_5_checked{
    display: none;
}
#top_5_checked:checked ~ .border_box{
    height: 993px;
    overflow: scroll;
}
.entrust_outside .top_p_5, .bottom_p_5:hover{
    cursor: pointer;
}

.entrust_outside .top_p_6{
    margin-bottom: 0;
    letter-spacing: 4px;
    color: lightgray;
}
.entrust_outside .bottom_p_6{
    margin-top: -8px;
    letter-spacing: 4px;
    color: lightgray;
}
#top_6_checked{
    display: none;
}
#top_6_checked:checked ~ .border_box{
    height: 993px;
    overflow: scroll;
}
.entrust_outside .top_p_6, .bottom_p_6:hover{
    cursor: pointer;
}

.entrust_outside .top_p_7{
    margin-bottom: 0;
    letter-spacing: 4px;
    color: lightgray;
}
.entrust_outside .bottom_p_7{
    margin-top: -8px;
    letter-spacing: 4px;
    color: lightgray;
}
#top_7_checked{
    display: none;
}
#top_7_checked:checked ~ .border_box{
    height: 993px;
    overflow: scroll;
}
.entrust_outside .top_p_7, .bottom_p_7:hover{
    cursor: pointer;
}

.entrust_outside .top_p_8{
    margin-bottom: 0;
    letter-spacing: 4px;
    color: lightgray;
}
.entrust_outside .bottom_p_8{
    margin-top: -8px;
    letter-spacing: 4px;
    color: lightgray;
}
#top_8_checked{
    display: none;
}
#top_8_checked:checked ~ .border_box{
    height: 993px;
    overflow: scroll;
}
.entrust_outside .top_p_8, .bottom_p_8:hover{
    cursor: pointer;
}

.entrust_outside .top_p_9{
    margin-bottom: 0;
    letter-spacing: 4px;
    color: lightgray;
}
.entrust_outside .bottom_p_9{
    margin-top: -8px;
    letter-spacing: 4px;
    color: lightgray;
}
#top_9_checked{
    display: none;
}
#top_9_checked:checked ~ .border_box{
    height: 993px;
    overflow: scroll;
}
.entrust_outside .top_p_9, .bottom_p_9:hover{
    cursor: pointer;
}

.entrust_outside .top_p_10{
    margin-bottom: 0;
    letter-spacing: 4px;
    color: lightgray;
}
.entrust_outside .bottom_p_10{
    margin-top: -8px;
    letter-spacing: 4px;
    color: lightgray;
}
#top_10_checked{
    display: none;
}
#top_10_checked:checked ~ .border_box{
    height: 993px;
    overflow: scroll;
}
.entrust_outside .top_p_10, .bottom_p_10:hover{
    cursor: pointer;
}

.entrust_outside .top_p_11{
    margin-bottom: 0;
    letter-spacing: 4px;
    color: lightgray;
}
.entrust_outside .bottom_p_11{
    margin-top: -8px;
    letter-spacing: 4px;
    color: lightgray;
}
#top_11_checked{
    display: none;
}
#top_11_checked:checked ~ .border_box{
    height: 993px;
    overflow: scroll;
}
.entrust_outside .top_p_11, .bottom_p_11:hover{
    cursor: pointer;
}

.entrust_outside .top_p_12{
    margin-bottom: 0;
    letter-spacing: 4px;
    color: lightgray;
}
.entrust_outside .bottom_p_12{
    margin-top: -8px;
    letter-spacing: 4px;
    color: lightgray;
}
#top_12_checked{
    display: none;
}
#top_12_checked:checked ~ .border_box{
    height: 993px;
    overflow: scroll;
}
.entrust_outside .top_p_12, .bottom_p_12:hover{
    cursor: pointer;
}

.entrust_outside .top_p_13{
    margin-bottom: 0;
    letter-spacing: 4px;
    color: lightgray;
}
.entrust_outside .bottom_p_13{
    margin-top: -8px;
    letter-spacing: 4px;
    color: lightgray;
}
#top_13_checked{
    display: none;
}
#top_13_checked:checked ~ .border_box{
    height: 993px;
    overflow: scroll;
}
.entrust_outside .top_p_13, .bottom_p_13:hover{
    cursor: pointer;
}

.entrust_outside .top_p_14{
    margin-bottom: 0;
    letter-spacing: 4px;
    color: lightgray;
}
.entrust_outside .bottom_p_14{
    margin-top: -8px;
    letter-spacing: 4px;
    color: lightgray;
}
#top_14_checked{
    display: none;
}
#top_14_checked:checked ~ .border_box{
    height: 993px;
    overflow: scroll;
}
.entrust_outside .top_p_14, .bottom_p_14:hover{
    cursor: pointer;
}

.entrust_outside .top_p_15{
    margin-bottom: 0;
    letter-spacing: 4px;
    color: lightgray;
}
.entrust_outside .bottom_p_15{
    margin-top: -8px;
    letter-spacing: 4px;
    color: lightgray;
}
#top_15_checked{
    display: none;
}
#top_15_checked:checked ~ .border_box{
    height: 993px;
    overflow: scroll;
}
.entrust_outside .top_p_15, .bottom_p_15:hover{
    cursor: pointer;
}

.entrust_outside .top_p_16{
    margin-bottom: 0;
    letter-spacing: 4px;
    color: lightgray;
}
.entrust_outside .bottom_p_16{
    margin-top: -8px;
    letter-spacing: 4px;
    color: lightgray;
}
#top_16_checked{
    display: none;
}
#top_16_checked:checked ~ .border_box{
    height: 993px;
    overflow: scroll;
}
.entrust_outside .top_p_16, .bottom_p_16:hover{
    cursor: pointer;
}

.entrust_outside .top_p_17{
    margin-bottom: 0;
    letter-spacing: 4px;
    color: lightgray;
}
.entrust_outside .bottom_p_17{
    margin-top: -8px;
    letter-spacing: 4px;
    color: lightgray;
}
#top_17_checked{
    display: none;
}
#top_17_checked:checked ~ .border_box{
    height: 993px;
    overflow: scroll;
}
.entrust_outside .top_p_17, .bottom_p_17:hover{
    cursor: pointer;
}

.entrust_outside .top_p_18{
    margin-bottom: 0;
    letter-spacing: 4px;
    color: lightgray;
}
.entrust_outside .bottom_p_18{
    margin-top: -8px;
    letter-spacing: 4px;
    color: lightgray;
}
#top_18_checked{
    display: none;
}
#top_18_checked:checked ~ .border_box{
    height: 993px;
    overflow: scroll;
}
.entrust_outside .top_p_18, .bottom_p_18:hover{
    cursor: pointer;
}

.entrust_outside .top_p_19{
    margin-bottom: 0;
    letter-spacing: 4px;
    color: lightgray;
}
.entrust_outside .bottom_p_19{
    margin-top: -8px;
    letter-spacing: 4px;
    color: lightgray;
}
#top_19_checked{
    display: none;
}
#top_19_checked:checked ~ .border_box{
    height: 993px;
    overflow: scroll;
}
.entrust_outside .top_p_19, .bottom_p_19:hover{
    cursor: pointer;
}

/*
.entrust_outside .top_p_20{
    margin-bottom: -5px;
    letter-spacing: 4px;
    color: lightgray;
}
.entrust_outside .bottom_p_20{
    margin-top: -13px;
    letter-spacing: 4px;
    color: lightgray;
}
#top_20_checked{
    display: none;
}
#top_20_checked:checked ~ .border_box{
    height: 993px;
    overflow: scroll;
}
.entrust_outside .top_p_20, .bottom_p_20:hover{
    cursor: pointer;
}*/
