.sale_container{
    position: relative;
}
.sale_container .sale_image{
    width: 225px;
    height: 299px;
    border: 3px solid #ccc;
    margin: 5px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: width .8s ease-in-out,height .8s ease-in-out .8s,background-image .8s ease-in-out 1.6s;
}
.sale_container .sale_image .one_img{
    width: 225px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}
.sale_container .sale_image .total_img{
    margin-left: 90px;
}
.sale_container .sale_name{
    width: 85px;
    height: 60px;
    line-height: 20px;
    text-align: center;
    border: 4px ridge #666;
    position: absolute;
    top: 0;
    margin: 0 0 0 236px;
}
.sale_container .sale_name p{
    margin: 0;
    font-size: 13px;
}
.sale_container .sale_price_1{
    width: 85px;
    height: 40px;
    line-height: 20px;
    text-align: center;
    border: 4px ridge #666;
    position: absolute;
    top: 0;
    margin: 64px 0 0 236px;
}
.sale_container .sale_price_1 p{
    margin: 0;
    font-size: 13px;
}
.sale_container .sale_price_2{
    width: 85px;
    height: 40px;
    line-height: 20px;
    text-align: center;
    border: 4px ridge #666;
    position: absolute;
    top: 0;
    margin: 108px 0 0 236px;
}
.sale_container .sale_price_2 p{
    margin: 0;
    font-size: 13px;
}
.sale_container .sale_price_3{
    width: 89px;
    height: 88px;
    line-height: 18px;
    text-align: center;
    border: 4px ridge #666;
    position: absolute;
    top: 0;
    margin: 152px 0 0 236px;
    border-right: none;
    font-weight: 900;
}
.sale_container .sale_price_3 p{
    margin: 0 0 0 2px;
    font-size: 13px;
    text-align: left;
}
#porduct_information{
    display: none;
}
#porduct_information:checked ~ .sale_image{
    width: 828px;
    height: 1225px;
    background-image: url("sale_img/My%20project-1.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}
.sale_container .sale_price_4{
    width: 89px;
    height: 53px;
    line-height: 53px;
    text-align: center;
    border: 4px ridge #666;
    position: absolute;
    top: 0;
    margin: 244px 0 0 236px;
    border-right: none;
    font-weight: 900;
}
.sale_container .sale_price_4 .chinese_p{
    font-size: 17px;
    letter-spacing: 2px;
    margin: 0;
}
.sale_container .sale_price_4 .english_p{
    margin: -38px;
    font-size: 13px;
    letter-spacing: 2px;
}
.sale_container .sale_price_4 a{
    text-decoration: none;
    color: #000;
}
@media screen and (max-width:990px){
    #porduct_information:checked ~ .sale_image{
        width: 673px;
        height: 850px;
    }
}